/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    text-transform: uppercase;
    width: 100%;
}

.items {
    width: 100%;
    margin-bottom: 100px;
}

.item {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    margin: 15px 10px 15px 10px;
    padding: 20px 0px 20px 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #BDBDBD;
}

.title, .date, .remove {
/*    background-color: crimson;*/
}

.title {
    flex: 4;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 15px;
}

.date {
    flex: 1;
    text-align: center;
    color: #00BFA5;
    font-size: 3em;
    font-weight: bold;
    margin: 0px 5px 0px 5px;
}

.remove {
    width: 40px;
    background-image: url("./../img/remove.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.newItemContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.newItem {
    border-radius: 50%;
    font-size: 4em;
    background-color: #0088FF;
    color: white;
    border: none;
    width: 65px;
    height: 65px;
    outline: none;
}

.newItem:active {
    background-color: #64b5f6;
}
